<div>
  <section class="nav-group">
    <input id="defaultExercises" type="checkbox">
    <label for="defaultExercises">Main Exercises</label>
    <ul class="nav-list">
      <li *ngFor="let defaultName of defaultExercises">  <a [routerLink]="['/exercises', defaultName.id]" class="nav-link nav-text" routerLinkActive="active" >{{defaultName.name}}</a></li>
    </ul>
  </section>
</div>

<div>
  <section class="nav-group">
    <input id="selectableExercises" type="checkbox">
    <label for="selectableExercises">Other Exercises</label>
    <ul *ngIf="exerciseNames" class="nav-list">
      <li *ngFor="let uniqueName of exerciseNames">  <a [routerLink]="['/exercises', uniqueName.id]" class="nav-link nav-text" routerLinkActive="active" >{{uniqueName.name}}</a></li>
    </ul>
  </section>
</div>
