<label>
  All Exercises (no current functionality)
  <select [(ngModel)]="selectedExercise">
    <option *ngFor="let exerciseName of exerciseNames" [ngValue]="exerciseName">
      {{exerciseName}}
    </option>
  </select>
</label>

<div *ngIf="workoutData">
  <app-muscle-exercise-chart  *ngFor="let defaultName of defaultExerciseNames"
                              [exerciseName]="defaultName"
                              [exercisesMap]="workoutService.getDateMappedExerciseSets(defaultName, workoutData)">
  </app-muscle-exercise-chart>
</div>

