<label>
  All Exercises (no current functionality)
  <select [(ngModel)]="selectedExercise">
    <option *ngFor="let exerciseName of exerciseNames" [ngValue]="exerciseName">
      {{exerciseName}}
    </option>
  </select>
</label>

<div *ngIf="workoutData">
  <div class="clr-col-lg-6 clr-col-sm-12" style="display: inline-block" *ngFor="let defaultName of defaultExerciseNames">
    <div class="card">
      <div class="card-header">
        {{defaultName}}
      </div>
      <app-muscle-exercise-chart [exerciseName]="defaultName"
                                 [exercisesMap]="workoutService.getDateMappedMuscleSets(defaultName, workoutData)">
      </app-muscle-exercise-chart>
    </div>
  </div>
</div>
