<div>
  <div>
    <clr-toggle-container clrInline (change)="onChange()">
      <clr-toggle-wrapper>
          <input id="topWeightOption-{{exerciseName}}" type="checkbox" clrToggle value="topWeight" [(ngModel)]="options.topWeight"/>
        <label for="topWeightOption-{{exerciseName}}"> Weight</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
          <input id="OneRepMaxOption-{{exerciseName}}" type="checkbox" clrToggle value="OneRepMax" [(ngModel)]="options.OneRepMax"/>
        <label for="OneRepMaxOption-{{exerciseName}}"> 1RM </label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
          <input id="totalVolumeOption-{{exerciseName}}" type="checkbox" clrToggle value="totalVolume" [(ngModel)]="options.totalVolume"/>
        <label for="totalVolumeOption-{{exerciseName}}"> Total Volume </label>
      </clr-toggle-wrapper>
    </clr-toggle-container>
  </div>

  <clr-spinner *ngIf="loading">Loading data</clr-spinner>
  <canvas baseChart
          [datasets]="lineChartData"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
